<ion-view view-title="Project 1: local storage">
	<ion-content padding="true" class="note-content">
		<div class="card" ng-show="saved">
		  <div class="item item-text-wrap text-success text-center">
		  	Successfully saved !
		  </div>
		</div>

		<div class="row">
			<div class="col">
				<h2 class="text-center">Main Page</h2>
			</div>
		</div>

		<div class="list list-inset">	
			<form ng-submit="save_name(name)">
				<label class="item item-input">
					<input type="text" placeholder="First Name" ng-model="name.fname">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Last Name" ng-model="name.lname">
				</label>
				<button class="button button-block button-positive" type="submit">Save</button>
			</form>
		</div>
		
		<a class="button button-block button-calm" ui-sref="page_1">Page 1</a>
		<a class="button button-block button-assertive" ui-sref="page_2">Page 2</a>
		<a class="button button-block button-positive" ui-sref="page_3">Page 3</a>
		<a class="button button-block button-balanced" ui-sref="page_4">Page 4</a>

	</ion-content>
</ion-view>